<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>ChatBot</title>
</head>
<body>
    <ul id="messages"></ul>
    <form id="chat" action="">
        <input id="m" autocomplete="off"/>
        <button>Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="js/bot.js"></script>
</body>
</html>